body {
  padding: 0px;
  margin: 0px;
  width:100%;
  min-width:1100px;
  width:expression_r(document.body.clientWidth < 1100 ? "1100px": "auto");
}
header {
  background: url(../images/sunset-resized.jpg) no-repeat center top;
  text-align: center;
  height: 770px;
}
nav {
  height: 90px;
  line-height: 90px;
}
.logo {
  float: left;
  width: 100px;
  margin-left: 170px;
  color: white;
  font-size: 45px;
  font-weight: bold;
}
header ul {
  float: right;
  margin: 0 200px 0 0;
}
header ul>li {
  display: inline-block;
  color: white;
  padding: 0 10px;
}
header li>a {
  color: #FFF;
  text-decoration: none;
}
header .title {
  margin-top: 180px;
  margin-bottom: 7px;
  color: white;
}
header p {
  margin: 0px;
  color: white;
}
.search {
  width: 578px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 25px;
}
.search input {
  outline: none;
  width: 460px;
  height: 52px;
  padding: 0 0 0 10px;
  float: left;
  border: 0px;
  background: rgba(255, 255, 255, 0.5);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: white;
}
.search button {
  outline: none;
  border: 0px;
  height: 52px;
  width: 108px;
  background: rgba(0, 255, 209, 0.5);
  float: left;
  color: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.main-info {
  text-align: center;
  background-color: #F4F3F1;
  height: 570px;
}
.total {
  background: #F4F3F1;
  width: 955px;
  height: 135px;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  top: -80px;
  border: 1px solid #E5E4E3;
}
.subtotal {
  float: left;
  width: 238px;
  height: 100%;
  border-right: 1px solid #E5E4E3;
}
.subtotal-right {
  float: left;
  width: 238px;
  height: 100%;
}
.subtotal .number, .subtotal-right .number {
  margin-top: 40px;
  font-weight: bold;
  font-size: 26px;
}
.subtotal .info, .subtotal-right .info {
  font-size: 13px;
  margin-top: 9px;
  color: #999999;
}
.main-info .title {
  font-weight: bold;
}
.line {
  height: 1px;
  width: 70%;
  background-color: #E5E4E3;
  margin: 0 auto;
}
.main-info ul {
  margin: 0 auto;
  padding: 0;
}
.main-info li {
  display: inline-block;
}
.detail {
  width: 340px;
  height: 290px;
}
.serial-number {
  position: relative;
  background: #ffffff;
  border: 1px solid #E5E4E3;
  font-weight: bold;
  top: -18px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  line-height: 35px;
  margin: 0 auto;
}
.detail-title {
  font-weight: bold;
}
.detail-info {
  font-size: 14px;
  padding: 17px 30px;
  color: #999999;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #E5E4E3;
}
.underline {
  height: 3px;
  width: 36px;
  background-color: #E5E4E3;
  margin: 8px auto;
  margin-bottom: 66px;
}
.about-us {
  text-align: center;
  background-color: #F4F3F1;
  height: 680px;
}
.about-us .title {
  font-weight: bold;
  padding-top: 90px;
}
.about-us ul {
  margin: 0 auto 40px auto;
  padding: 0;
}
.about-us li {
  display: inline-block;
  width: 400px;
  margin: 0px 70px;
}
.tip {
  text-align: left;
}
.tip-img {
  float: left;
}
.tip-kw {
  font-weight: bold;
  height: 28px;
}
.tip-detail {
  width: 330px;
  float: left;
  padding-left: 22px;
}
.tip-info {
  font-size: 14px;
  color: #999999;
}
.contact {
  text-align: center;
  background-color: #F4F3F1;
  height: 576px;
}
.label {
  font-weight: bold;
  border: 2px solid #606779;
  width: 336px;
  height: 54px;
  margin: 75px auto 0 auto;
  border-radius: 5px;
}
.label-left {
  width: 168px;
  height: 54px;
  text-align: center;
  line-height: 54px;
  float: left;
  background: #606779;
  color: white;
}
.label-right {
  width: 168px;
  height: 54px;
  text-align: center;
  line-height: 54px;
  float: left;
  color: #606779;
}
.contact p {
  margin-top: 80px;
  font-size: 18px;
  color: #808080;
  font-weight: bold;
}
.contact ul {
  margin: 111px auto 0px auto;
  padding: 0;
}
.contact li {
  display: inline-block;
  margin: 0 23px;
}
.contact img {
  width: 90px;
  border-radius: 100%;
}
.buttom {
  height: 250px;
  background: url(../images/sunset-resized.jpg) no-repeat center bottom;
}
.buttom-search {
  position: relative;
  top: 75px;
}
footer .kw {
  float: left;
  width: 180px;
  font-size: 25px;
  line-height: 52px;
  font-weight: bold;
}
footer .search {
  width: 785px;
  color: white;
}
.buttom-nav {
  height: 74px;
  line-height: 74px;
}
footer ul {
  margin: 0 0 0 180px;
  padding: 0;
  float: left;
}
footer li {
  font-weight: bold;
  display: inline-block;
  padding-right: 13px;
}
footer li>a {
  color: #808080;
  text-decoration: none;
}
.buttom-nav-right {
  float: right;
  padding-top: 10px;
  height: 50px;
  margin-right: 180px;
}
.buttom-nav-right img {
  width: 35px;
}
